# ignore the input directory
input/

# ignore the output directory
output/

# ignore the logs directory
logs/

# ignore any files in the downloaded_data folder
downloaded_data/

# ignore the to_delete folder which contains files we want to remove but don't know
# the impact of yet
to_delete/

# ignore spyder project details directory
.spyproject/

# ignore self-compiled files
*.pyc

# ignore any files that start with 'example'
example_*
